form{
    margin-top: 100px;
    display: flex;
    justify-content: center;

}
div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
input{
    margin-top: 20px;
    height: 30px;
    width: 300px;
    padding-left: 40px;
}
button{
    margin-top: 20px;
    height: 30px;
    width: 350px;
}